.nameCat{

    margin-top: 6rem;
    display: flex ;
    justify-content : center;

    h2{

        font-size: 2rem;
    }
}


@media(max-width : 800px){

    .nameCat{

        margin-top: 2rem;
        h2{
    
            font-size: 1.5rem;
        }
    } 


}